.martel-regular {
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
}
.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

header h1 {
    font-family: "Faculty Glyphic",serif;
    color:rgb(81, 12, 113);

}

header {
    display: flex;
    justify-content: center;
}

main {
    display:flex;
    justify-content: center;
}

form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 50px;
    width: 500px;
    box-sizing: border-box;
    justify-content: center;
    background-color: rgba(169, 169, 169, 0.483);
    padding: 20px;
    border-radius: 10px;
}

legend {
    font-family: bold;
    font-size: 25px;
}

fieldset { 
    grid-column: 1/4;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; 
}


form label {
    display: inline-block;
    text-align: left;
    padding: 1rem;
    font-family: "Faculty Glyphic",serif;
}

.contact input {
    display: inline-block;
    padding: 10px;
    width: 50%;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 1rem;
}


textarea {
    display: block;
    padding: 10px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

body {
    font-family: "Martel", serif;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.695);
    appearance: none;
    background-color: white;

}

input[type="checkbox"]:checked {
    background-color: rgb(81, 12, 113);
    border: 1px solid rgb(81, 12, 113);
    padding: 3px;
    
}

button {
    display: block;
    padding: 5px;
    font-family: bold "faculty glypic";
    border: 1px solid;
    border-radius: 10px;
    width: 200px;
    left:50%;
    grid-column: 2/3;
    background-color: rgb(81, 12, 113);
    color:rgb(255, 255, 255);
    margin-top: 10px;
    
}

textarea {
    display: block;
    padding: 10px;
    width: 100%;
}

footer {
    display:flex;
    justify-content: center;
    border-top: 1px solid black;
    padding: 10px;
    margin-top:20px
}

footer p {
    font-family: "Faculty Glyphic",serif;
    color:darkgrey
}